.left-heading { 
    /* width: 100%; */
    max-width: 500px;
    margin-left: auto; 
    font-size: 25px; 
    text-align: 400%;
    line-height: 1;
}




.right-heading p {
max-width: 300px;
margin-bottom: auto;
font-size: 25px;
line-height: 0.5;
text-align: 400;

}


.right-heading1 p {
 font-size: 25px;
 margin: 50px; 

}



.body p {
font-size:  25px; 

}

.Center{
font-size: 25px;
text-align: center;



}



.last-paragraph {
    max-width: 400px;
    margin-bottom: 3rem;
    margin-left: 80%;
    font-size: 25px;
}